*{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
#container{
	display: grid;
	grid-template-columns: 20% 45% 35%;
	background-color: #F8f7F6;
}
#option-menu{
	width: 100%;
	height: 760px;
	background-color: white;
}
#options-center{
	width: 75%;
	margin: 0 auto;
	background-color: white;
}
	#logo{
		padding-left: 40px;
		padding-right: 20px;
		width: 100px;
	}
		#logo>img{
			height: 50px;
			color: white;
			cursor: pointer;
		}
	#option{
		display: grid;
		cursor: pointer;
		padding-left: 40px;
		font-size: 20px;
	}
	#text-home{
		color: #00acee;
	}
		#option-img{
			height: 30px;
			margin-right: 20px;
		}
		#usuario-img{
			height: 100%;
			width: 35px;
			border-radius: 50%;
			position: relative;
			float: center;
			background-color: white;
			overflow: hidden;
			margin-right: 10px;
		}
			#usuario-img>img{
				height: 100%
				padding-left: 40px;
			}
		#option button{
			padding: 15px 80px;
			border-radius: 30px;
			outline: none;
			color: white;
			background: #00acee;
			border: none;
			font-weight: 600;
			font-size: 16px;
			cursor: pointer;
		}
/*--------------------------------*/
#content-menu{
	width: 100%;
	background: white;
}
#prefer{
	padding-left: 10px;
	color: black;
	font-size: 28px;
	width: 595px;
	height: 50px;
	cursor: pointer;
	border-left: 1px solid #3C3D46;
	border-bottom: 1px solid #3C3D46;
	border-right: 1px solid #3C3D46;
}
/*-----------------------*/
	#home-img{
		width: 30px;
		height: 30px;
		cursor: pointer;
		padding-left: 450px;
		padding-top: 10px;
		padding-right: 5px;
	}
#profile-message{
	width: 580px;
	height: 60px;
	align-items: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 15px;
	font-size: 22px;
	color: gray;
	line-height: 60px;
	border-left: 1px solid #3C3D46;
	border-right: 1px solid #3C3D46;
}
	#profile-message-img{
		width: 50px;
		height: 40px;
		cursor: pointer;
		border-radius: 50%;
		padding-left: 10px;
		padding-right: 15px;
	}
	#add-extra{
		width: 535px;
		height: 40px;
		padding-left: 70px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-left: 1px solid #3C3D46;
		border-right: 1px solid #3C3D46;
		border-bottom: 1px solid #3C3D46;
	}
		#tweet-img{
			width: 25px;
			height: 25px;
			cursor: pointer;
			padding-left: 5px;
			padding-right: 5px;
		}
		#tweetf-img{
			width: 25px;
			height: 25px;
			cursor: pointer;
			padding-left: 5px;
			padding-right: 50%;
		}
		#espacio-blanco{
			height: 20px;
			width: 100%;
			background-color: white;
		}
		#button-tweet{
			padding: 10px 25px;
			border-radius: 30px;
			color: white;
			background: #00acee;
			border: none;
			font-weight: 500;
			font-size: 16px;
			cursor: pointer;
		}
/*------------------------*/
#espacio{
	height: 18px;
	width: 100%;
	background-color: #e5e3e1;
}
#profile-msg{
	border-left: 1px solid #3C3D46;
	border-right: 1px solid #3C3D46;
	border-top: 1px solid #3C3D46;
	padding-left: 20px;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 12% 76% 12%;
	align-items: center;
	}
	#img-paisaje{
		border-left: 1px solid #3C3D46;
		border-right: 1px solid #3C3D46;
		padding-left: 100px;
	}
	#usuario2-img{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		position: relative;
		float: center;
		background-color: white;
		overflow: hidden;
		margin-right: 10px;
		cursor: pointer;
	}
	#name-msg{
		font-size: 20px;
		padding-left: 0px;
	}
		#usuario2-tweet{
			color: black;
		}
		#msg-extra{
			font-size: 18px;
			color: gray;
		}
		#arrow-img{
			width: 25px;
			height: 25px;
			padding-left: 210px;
		}
	#msg{
		width: 400px;
		color: black;
		font-size: 18px;
		font-weight: 500;
		padding-left: 70px;
		text-align: justify-all;
		word-wrap: break-word;

	}
		#paisaje-img{		
			width: 80%;
			border-radius: 20px;
			padding-top: 10px;
		}
	#reacciones{
		padding-left: 80px;
		padding-top: 15px;
		border-left: 1px solid #3C3D46;
		border-right: 1px solid #3C3D46;
	}
		#reacciones-img{
			width: 25px;
			height: 25px;
			cursor: pointer;
			padding-left: 20px;
		}
#trending-menu{
	width: 100%;
	background: white;
}
#trending-center{
	width: 70%;
}
/*----------------*/
#search{
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	background: white;
	align-items: center;
	padding-top: 10px;
	padding-left: 10px;
}
	#search-input{
		width: 100%;
		height: 40px;
		border-radius: 30px;
		font-size: 20px;
		color: gray;
		align-items: center;
		padding-left: 15px;
		outline: none;
		border: none;
		background: #e5e3e1;
	}
/*---------------------------------*/
#trending{
	padding-left: 20px;
	align-items: center;
}
	#header{
		width: 380px;
		background-color: #e5e3e1;
		padding-top: 5px;
		padding-left: 20px;
		font-size: 20px;
		border-top-left-radius: 20px; 
		border-top-right-radius: 20px;
		border-bottom: 1px solid #3C3D46;
	}
		#adjust{
			padding-left: 200px;
			padding-top: 5px;
			width: 25px;
			height: 25px;
		}
	#trending-ww{
		width: 380px;
		height: 100px;
		background-color: #e5e3e1;
		padding-top: 5px;
		padding-left: 20px;
		padding-bottom: 10px;
		font-size: 20px;
		border-bottom: 1px solid #3C3D46;
	}
	#trending-ww-new{
		width: 380px;
		height: 100px;
		background-color: #e5e3e1;
		padding-top: 5px;
		padding-left: 20px;
		padding-bottom: 10px;
		font-size: 20px;
		border-bottom: 1px solid #3C3D46;
	}
	#show-more{
		width: 380px;
		background-color: #e5e3e1;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		font-size: 20px;
		border-bottom-left-radius: 20px; 
		border-bottom-right-radius: 20px;
		font-size: 14px;
		color: #00acee;
	}
	#moon-img{
		height: 80px;
		width: 80px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		padding-left: 15px;
	}
	#info-new{
		width: 200px;
	}
	#trending-ww-news{
		width: 380px;
		height: 170px;
		background-color: #e5e3e1;
		padding-top: 5px;
		padding-left: 20px;
		padding-bottom: 10px;
		font-size: 20px;
		border-bottom: 1px solid #3C3D46;
	}
	#new-trending{
		height: 80px;
		width: 350px;
		border-radius: 15px;
		border: 1px solid #3C3D46;
	}
	#new-title{
		width: 50px;
	}
	/**########################*/
	#news{
		padding-top: 5px;
		padding-left: 5px;
		position: relative;
		float: left;
		width: 250px;
		height: 80px;
	}
	#new-img{
		width: 50px;
		height: 50px;
	}
	#new-desc, #ww{
		font-size: 16px;
		height: 20px;
	}
	#trending-inf{
		position: relative;
		float: left;
		color: gray;
		font-size: 14px;
		width: 250px;
	}
